<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<title>KIWI WALLET</title>
</script>
<link rel="icon" href="<%- wallet %>/favicon.png">
<link rel="icon" href="<%- wallet %>/favicon.ico">
<script src="<%- wallet %>/assets/js/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" href="<%- wallet %>/assets/css/reset.css">
<link rel="stylesheet" href="<%- wallet %>/assets/css/bootstrap-grid.css">
<link rel="stylesheet" href="<%- wallet %>/assets/css/select2.min.css" />
<link rel="stylesheet" href="<%- wallet %>/assets/css/wallet.css">
<script src="<%- wallet %>/assets/js/translate.js"></script>
<script src="<%- wallet %>/assets/js/loadingoverlay.min.js"></script>
<script>
    function initFunction(jsonObj) {
        renderInfo(jsonObj);
    }
</script>